<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="logMonitorTask"
		class="com.jiakun.xplatform.monitor.task.LogMonitorTask">
		<property name="memcachedCacheService" ref="memcachedCacheService" />
		<property name="logMonitorService" ref="logMonitorService" />
		<property name="smtpServer">
			<value>${monitor.mail.smtpServer}</value>
		</property>
		<property name="from">
			<value>${monitor.mail.from}</value>
		</property>
		<property name="to">
			<value>${logMonitor.mail.to}</value>
		</property>
	</bean>

	<bean id="logMonitorJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="logMonitorTask" />
		</property>
		<property name="targetMethod">
			<value>logMonitor</value>
		</property>
	</bean>

	<bean id="logMonitorTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="logMonitorJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0/30 * * * ?</value>
		</property>
	</bean>
	
	<bean id="logMonitor2SendEmailJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="logMonitorTask" />
		</property>
		<property name="targetMethod">
			<value>logMonitor2SendEmail</value>
		</property>
	</bean>

	<bean id="logMonitor2SendEmailTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="logMonitor2SendEmailJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0 */6 * * ?</value>
		</property>
	</bean>
	
</beans>