<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="cacheMonitorTask"
		class="com.jiakun.xplatform.monitor.task.CacheMonitorTask">
		<property name="memcachedCacheService" ref="memcachedCacheService" />
		<property name="cacheMonitorService" ref="cacheMonitorService" />
	</bean>

	<bean id="cacheMonitorJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="cacheMonitorTask" />
		</property>
		<property name="targetMethod">
			<value>cacheMonitor</value>
		</property>
	</bean>

	<bean id="cacheMonitorTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="cacheMonitorJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0/15 * * * ?</value>
		</property>
	</bean>
	
</beans>