<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="custService"
		class="com.jiakun.xplatform.cust.service.impl.CustServiceImpl">
		<property name="custDao" ref="custDao" />
	</bean>

	<bean id="custDao" class="com.jiakun.xplatform.cust.dao.impl.CustDaoImpl" parent="baseDao">
	</bean>
	
</beans>